// Footer
footer.footer
  .container
    
    .footer__wrapper
      .div1 Copyright ©2021. 
        br
        | Благотворительного фонда 770
      .div2 Создание и поддержка в студии 
        a(href="#!" target="_blank") Piarme
  
