// Header
header.header
  .container
    
    -var navigation = { 'Главная': '#!', 'О компании': '#!', 'Фонд': '#!', 'Блог': '#!'};
    
    .header__wrapper
      .logo
        a(href="#!")
          img(src="./images/logo.svg", alt="", width="139", height="53")
      
      .header__nav
        nav.navigation.header__navigation(role="navigation")
          ul
            each val, key in navigation
              if active === key
                li.active
                  a(href=val, title=key)= key
              else
                li
                  a(href=val, title=key)= key

        button.btn-mobile(type="button") 
          span Меню

.header-holder