/* modules */
.container {
  padding: 0 15px;
}
.row {
  @include media-breakpoint-up(md) {
    margin-left: -15px;
    margin-right: -15px;
    &>[class*="col-"] {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.top-screen {
  margin-top: -35px;
  &__imgs {
    position: absolute;
    display: none;
    left: 0;
    right: 0;
    &>.container {
      position: relative;
    }
    img {
      display: none;
      position: absolute;
      z-index: 5;
      object-fit: contain;
    }
  }
  &__img {
    margin: 0 0 10px 0;
    height: 310px;
    overflow: hidden;
    position: relative;
    img {
      width: 682px;
      transform: translateX(-460px);
      left: 50%;
      position: absolute;
      object-fit: contain;
      height: 369px;
    }
  }
  &__content {
    font-size: 14px;
    color: $color-dark;
    .btn {
      font-size: 20px;
    }
  }
  @include media-breakpoint-up(sm) {
    margin-top: -60px;
    &__img {
      height: 580px;
      img {
        width: 1338px;
        height: 697px;
        transform: translateX(-885px);
      }
    }
    &__content {
      .btn {
        min-width: 380px;
        font-size: 22px;
      }
    }
  }
  @include media-breakpoint-up(md) {
    margin-top: -55px;
    &__img {
      height: 560px;
      margin-bottom: 0;
      img {
        width: 1288px;
        height: 664px;
        transform: translateX(-660px);
      }
    }
    &__head {
      margin-top: -300px;
      position: relative;
      max-width: 425px;
    }
    &__content {
      max-width: 425px;
      position: relative;
    }
    &__imgs {
      display: block;
      .img1 {
        display: block;
        width: 190px;
        height: 137px;
        top: 125px;
        left: -136px;
      }
      .img4 {
        display: block;
        width: 167px;
        height: 118px;
        top: 0;
        right: -165px;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    margin-top: -84px;
    &__head {
      max-width: 715px;
      margin-top: -442px;
    }
    &__content {
      max-width: 715px;
      font-size: 20px;
    }
    &__img {
      height: 785px;
      img {
        width: 1727px;
        height: 925px;
        transform: translateX(-760px);
      }
    }
    &__imgs {
      .img1 {
        width: 148px;
        height: 91px;
        top: 92px;
        left: -324px;
      }
      .img2 {
        display: block;
        width: 253px;
        height: 219px;
        top: 155px;
        left: -210px;
      }
      .img3 {
        display: block;
        width: 208px;
        height: 110px;
        top: 615px;
        left: -317px;
      }
      .img4 {
        width: 237px;
        height: 205px;
        top: -13px;
        right: -300px;
      }
      .img5 {
        display: block;
        width: 201px;
        height: 107px;
        top: 668px;
        right: -315px;
      }
    }
  }
}

.mission {
  padding-top: 100px;
  background: {
    image: url('../images/mission-letter-bg.png');
    position: 67% 40px;
    size: 1445px;
    repeat: no-repeat;
  };
  @include media-breakpoint-up(sm) {
    padding-top: 137px;
    padding-bottom: 100px;
    background: {
      size: 1806px;
      position: 62% 40px;
    }
  }
  @include media-breakpoint-up(md) {
    padding-top: 95px;
    background: {
      size: 1336px;
      position: 44% 40px;
    }
  }
  @include media-breakpoint-up(lg) {
    padding-top: 165px;
    padding-bottom: 150px;
    background: {
      size: 2143px;
      position: center 26px;
    };
  }
}

.money {
  position: relative;
  padding-top: 125px;
  padding-bottom: 189px;
  background-color: $color-gray;
  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 164px;
    width: 1920px;
    background: {
      image: url('../images/money-wave-top.png');
      repeat: no-repeat;
      position: center top;
      color: $color-white;
    };
  }
  &::after {
    top: auto;
    bottom: 0;
    background: {
      image: url('../images/money-wave-bottom.png');
    }
  }
  &>.container {
    position: relative;
    margin-top: -41px;
    margin-bottom: -5px;
  }
  &__block {
    font-weight: 900;
    font-size: 18px;
    color: $color-dark;
    margin-bottom: 40px;
    position: relative;
    &-head {
      margin-bottom: 12px;
      line-height: 1;
      .--target & {
        padding-left: 40px;
        font-size: 22px;
      }
    }
    &-price {
      color: $color-brown;
      font-size: 36px;
      line-height: 1;
      .--target & {
        font-size: 40px;
      }
    }
    &.--left {
      margin-bottom: 36px;
    }
    &.--target {
      margin-top: -15px;
      margin-bottom: 0;
      z-index: 10;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: rgba($color-dark,.5);
    p {
      margin-bottom: 0;
      max-width: 190px;
    }
    &-percent {
      color: $color-white;
      font-size: 110px;
      line-height: 1;
      font-weight: 900;
      position: absolute;
      margin-top: -318px;
      margin-left: 203px;
    }
    &>div {
      &.div2 {
        display: none;
        padding-left: 32px;
      }
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    &>div {
      max-width: 290px;
      width: 100%;
    }
  }
  &__box {
    height: 220px;
    width: 220px;
    position: relative;
    z-index: 5;
    background: #3b3b44;
    border-radius: 100%;
    overflow: hidden; 
    box-shadow: 0px 10px 26px rgba($primary-color,.25), 0 0 0 26px $color-white;
    margin: 26px;
    &-percent {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 3;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center; 
      align-items: center;
      color: rgba($color-white,.1);
      font-size: 110px;
      font-weight: 900;
      line-height: 1;
    } 
    .water {
      position: absolute;
      left: 0;
      top: 0;
      z-index:2;
      width: 100%;
      height: 100%;
      transform: translate(0,100%);
      background: rgba(176,140,102,1);
      transition: all .3s;
      &_wave {
        width: 200%;
        position: absolute;
        bottom: 100%;
        &_back {
          right: 0;
          fill: rgba(176,140,102,.8);
          animation: wave-back 1.4s infinite linear;
        }
        &_front {
          left: 0;
          fill: rgba(176,140,102,1);
          margin-bottom: -1px;
          animation: wave-front .7s infinite linear;
        }
      }
    }
  }
  @keyframes wave-front {
    100% {
      transform: translate(-50%, 0);
    }
  }
  
  @keyframes wave-back {
    100% {
      transform: translate(50%, 0);
    }
  }
  @include media-breakpoint-only(sm) {
    &>.container {
      margin-top: 0;
      margin-bottom: 0;
    }
    &__wrapper {
      &>div {
        max-width: 580px;
        &.div2 {
          padding-left: 30px;
        }
      }
      &-top {
        display: flex;
      }
    }
    &__block {
      margin-bottom: 0;
      &-head {
        font-size: 24px;
        .--target & {
          font-size: 30px;
        }
      }
      &-price {
        font-size: 46px;
        .--target & {
          font-size: 70px;
        }
      }
      &.--left {
        margin-left: 60px;
        margin-bottom: 13px;
      }
      &.--target {
        margin-top: -35px;
        margin-bottom: 50px;
      }
    }
    &__box {
      height: 350px;
      width: 350px;
      margin: 40px;
      box-shadow: 0px 10px 40px rgba($primary-color,.25), 0 0 0 40px $color-white;
      &-percent {
        font-size: 170px;
      }
    }
    &__info {
      &-percent {
        font-size: 150px;
        margin-top: -388px;
        margin-left: 420px;
      }
    }
  }
  @include media-breakpoint-up(md) {
    &__wrapper {
      flex-direction: row;
      &>div {
        width: auto;
        max-width: inherit;
        &.div1 {
          min-width: 250px;
        }
        &.div2 {
          flex-shrink: 0;
        }
        &.div3 {
          margin-left: -25px;
        }
      }
    }
    &__box {
      height: 250px;
      width: 250px;
      margin: 28px;
      box-shadow: 0px 10px 28px rgba($primary-color,.25), 0 0 0 28px $color-white;
      &-percent {
        font-size: 120px;
      }
    }
    &__info {
      margin-bottom: 30px;
      &-percent {
        position: relative;
        margin-top: 0;
        margin-left: 0;
      }
      &>div {
        &.div2 {
          display: block;
        }
      }
    }
    &__block {
      &.--target {
        margin-top: 0;
      }
      &.--left {
        margin-bottom: 0;
      }
    }
    &>.container {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  @include media-breakpoint-up(lg) {
    &__box {
      height: 350px;
      width: 350px;
      margin: 40px;
      box-shadow: 0px 10px 40px rgba($primary-color,.25), 0 0 0 40px $color-white;
      &-percent {
        font-size: 180px;
      }
    }
    &__block {
      font-size: 24px;
      &-head {
        .--target & {
          font-size: 30px;
          padding-left: 55px;
        }
      }
      &-price {
        font-size: 46px;
        .--target & {
          font-size: 70px;
        }
      }
      &.--start {
        margin-bottom: 70px;
      }
    }
    &__wrapper {
      padding-left: 60px;
      &>div {
        &.div1 {
          min-width: 275px;
        }
        &.div3 {
          margin-left: -35px;
        }
      }
    }
    &__info {
      font-size: 14px;
      &-percent {
        font-size: 150px;
      }
    }
  }
}

.video {
  margin-top: -55px;
  padding-bottom: 97px;
  position: relative;
  &__content {
    font-size: 16px;
  }
  &__div {
    width: 290px;
    margin: 0 auto 50px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background: {
        image: url('../images/video-img-bg.png');
        position: center top;
        repeat: no-repeat;
        size: 395px 209px;
      };
      width: 395px;
      height: 209px;
      bottom: -50px;
      left: 50%;
      transform: translateX(-50%);
    }
    img {
      max-width: 100%;
      height: auto;
      display: block;
      filter: drop-shadow(0px 10px 40px rgba($primary-color,.15));
      position: relative;
      z-index: 5;
    }
    &-link {
      position: absolute;
      z-index: 10;
      width: 90px;
      height: 90px;
      font-size: 26px;
      border-radius: 50%;
      background: $color-white;
      left: 0;
      bottom: -34px;
      box-shadow: 0px 4px 20px rgba($primary-color,.1);
      color: $color-brown;
      text-align: center;
      &::before {
        position: absolute;
        content: '\e905';
        font-family: $font-icomoon;
        left: 50%;
        top: 50%;
        transform: translate(-38%,-50%);
        line-height: 1;
      }
      &:hover {
        box-shadow: 0px 4px 20px rgba($primary-color,.4);
        color: darken($color-brown, 20%);
      }
    }
  }
  @include media-breakpoint-up(sm) {
    padding-bottom: 119px;
    padding-top: 120px;
    background: {
      image: url('../images/video-letter-bg.png');
      position: 28% 40px;
      size: 1543px;
    };
    &__content {
      font-size: 18px;
      padding-bottom: 10px;
    }
    &__div {
      width: 549px;
      margin-bottom: 83px;
      &-link {
        font-size: 23px;
        width: 80px;
        height: 80px;
        left: -26px;
        bottom: -26px;
      }
      &::before {
        width: 791px;
        height: 419px;
        background-size: 791px 419px;
        bottom: auto;
        top: -30px;
      }
    }
  }
  @include media-breakpoint-up(md) {
    background: {
      size: 1446px;
      position: 49% 90px;
    };
    &__content {
      font-size: 16px;
      max-width: 154px;
    }
    &__wrapper {
      display: flex;
      &>div {
        &.div1 {
          padding-top: 25px;
          width: 200px;
          flex-shrink: 0;
          position: relative;
          z-index: 5;
        }
        &.div2 {
          flex-grow: 1;
        }
      }
    }
    &__div {
      width: 620px;
      margin-left: 0;
      &-link {
        width: 90px;
        height: 90px;
        font-size: 26px;
        left: -30px;
        bottom: -30px;
      }
      &::before {
        width: 895px;
        height: 474px;
        background-size: 895px 474px;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    padding-bottom: 180px;
    background: {
      size: 2143px;
      position: center 90px;
    };
    &__content {
      font-size: 18px;
      max-width: 245px;
    }
    &__wrapper {
      &>div {
        &.div1 {
          width: 277px;
          padding-top: 75px;
        }
      }
    }
    &__div {
      width: 831px;
      &-link {
        width: 120px;
        height: 120px;
        font-size: 34px;
        left: -40px;
        bottom: -40px;
      }
      &::before {
        width: 1197px;
        height: 634px;
        background-size: 1197px 634px;
        top: -40px;
        margin-left: -10px;
      }
    }
  }
}

.beneficiaries {
  padding-bottom: 10px;
  &__row {
    display: flex;
    flex-direction: column;
  }
  &__block {
    font-size: 14px;
    color: $color-dark;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    &-thumb {
      position: relative;
      margin-bottom: 30px;
      padding-top: 35px;
      &::before {
        content: '';
        position: absolute;
        background: url('../images/beneficiaries-img-bg.png') 0 0 no-repeat;
        height: 248px;
        width: 131px;
        background-size: 131px 248px;
        top: 0;
        right: -31px;
      }
      img {
        position: relative;
        z-index: 5;
        filter: drop-shadow(0px 6px 30px rgba($primary-color,.3));
        max-width: 100%;
        height: auto;
        display: block;
      }
    }
    p {
      max-width: 80%;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  @include media-breakpoint-up(sm) {
    padding-bottom: 70px;
    &__row {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      &>div {
        width: auto;
      }
    }
    &__block {
      text-align: left;
      align-items: flex-start;
      margin-bottom: 20px;
      p {
        max-width: 238px;
        margin-right: -38px;
      }
    }
  }
  @include media-breakpoint-up(md) {
    padding-bottom: 70px;
    &__row {
      flex-wrap: nowrap;
    }
    &__block {
      margin-bottom: 0;
      &-thumb {
        img {
          height: 274px;
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &__block {
      &-thumb {
        margin-bottom: 30px;
        &::before {
          width: 185px;
          height: 350px;
          background-size: 185px 350px;
          right: -45px;
        }
        img {
          height: 345px;
        }
      }
    }
  }
}

.geography {
  position: relative;
  padding-top: 125px;
  padding-bottom: 189px;
  background-color: $color-gray;
  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 164px;
    width: 1920px;
    background: {
      image: url('../images/money-wave-top.png');
      repeat: no-repeat;
      position: center top;
      color: $color-white;
    };
  }
  &::after {
    top: auto;
    bottom: 0;
    background: {
      image: url('../images/money-wave-bottom.png');
    }
  }
  &>.container {
    position: relative;
  }
  &__content {
    font-size: 16px;
  }
  &__description {
    font-size: 20px;
  }
  &__carousel {
    .slick-track {
      display: flex;
      align-items: stretch;
      justify-content: center;
    }
    .slick-slide {
      height: auto;
      // background: pink;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 82px;
    }
    .slick-arrow {
      top: auto;
      bottom: 0;
      transform: none;
      right: 50%;
      transform: translateX(90%);
      width: auto;
      height: auto;
      display: flex;
      align-items: center;
      height: 16px;
      z-index: 5;
      &::before {
        opacity: 1;
        font-family: $font-icomoon;
        font-size: 72px;
        content: "\e902";
        color: $color-brown;
      }
      &.slick-prev {
        right: auto;
        left: 50%;
        transform: translateX(-180%);
        &::before {
          font-size: 35px;
          content: "\e901";
          color: $color-dark;
        }
      }
      
    }
  }
  &__block {
    // background: green;
    position: relative;
    &-text {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-10%);
      color: $color-white;
      font-size: 13px;
      font-weight: 900;
      width: 100%;
      max-width: 90%;
      text-align: center;
    }
  }
  &__city {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -60px;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0.1em;
  }
  @include media-breakpoint-up(sm) {
    &__block {
      &-text {
        font-size: 26px;
      }
    }
    &__city {
      bottom: -53px;
    }
    &__carousel {
      .slick-slide {
        margin-bottom: 50px;
      }
      .slick-arrow {
        bottom: 1px;
        &.slick-prev {
          transform: none;
          left: 0;
        }
        &.slick-next {
          right: 0;
          transform: none;
        }
      }
    }
  }
  @include media-breakpoint-up(md) {
    padding-top: 140px;
    &__wrapper {
      display: flex;
      align-items: center;
      &>div {
        &.div2 {
          width: 424px;
          flex-shrink: 0;
          margin-left: 30px;
        }
      }
    }
    &__content {
      font-size: 14px;
    }
    &__description {
      font-size: 16px;
    }
  }
  @include media-breakpoint-up(lg) {
    padding-top: 184px;
    padding-bottom: 210px;
    &__wrapper {
      &>div {
        &.div2 {
          width: 640px;
        }
      }
    }
    &__content {
      font-size: 16px;
    }
    &__description {
      font-size: 20px;
    }
    &__carousel {
      .slick-arrow {
        &.slick-prev {
          left: 97px;
        }
        &.slick-next {
          right: 55px;
        }
      }
    }
  }
}

.results {
  padding-bottom: 118px;
  position: relative;
  &::before {
    content: '\e916';
    position: absolute;
    font-size: 418px;
    line-height: 1;
    left: 37%;
    top: 157px;
    font-family: $font-icomoon;
    opacity: 0.5;
    color: $color-gray;
  }
  &>.container {
    position: relative;
    z-index: 5;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__block {
    font-size: 14px;
    margin-bottom: 30px;
    &-head {
      color: $color-brown;
      font-size: 70px;
      font-weight: 900;
      line-height: 1;
      margin-bottom: 5px;
      white-space: nowrap;
    }
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
    &.--last {
      font-size: 16px;
    }
  }
  @include media-breakpoint-up(sm) {
    &__block {
      font-size: 16px;
      margin-bottom: 34px;
      &-head {
        font-size: 90px;
      }
      &.--last {
        font-size: 18px;
      }
    }
  }
  @include media-breakpoint-up(md) {
    padding-top: 50px;
    background: {
      image: url('../images/result-letter-bg.png');
      position: 111% -10px;
      size: 553px 433px;
      repeat: no-repeat;
    };
    &::before {
      font-size: 334px;
      top: 70px;
      left: 67%;
    }
    &__block {
      font-size: 14px;
      margin-bottom: 46px;
      &-head {
        font-size: 70px;
      }
      &.--last {
        font-size: 16px;
      }
    }
    &__wrapper {
      flex-direction: row;
      flex-wrap: wrap;
      &>div {
        flex-basis: 210px;
        padding-left: 30px;
        &.div1 {
          padding-left: 0;
        }
        &.div4 {
          padding-left: 0;
          flex-basis: 100%;
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    padding-top: 72px;
    background: {
      size: 755px 591px;
    };
    &::before {
      top: 45px;
      left: 63%;
    }
    &__block {
      font-size: 16px;
      margin-bottom: 40px;
      &.--last {
        font-size: 18px;
      }
    }
    &__wrapper {
      &>div {
        flex-basis: 28%;
        &.div4 {
          flex-basis: 100%;
        }
      }
    }
  }
}

.number {
  padding-bottom: 50px;
  &>.container {
    position: relative;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__thumb {
    margin-bottom: 18px;
    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  }
  &__content {
    font-size: 14px;
    ul, ol {
      font-size: 18px;
    }
    .btn {
      width: 100%;
      max-width: 330px;
    }
    ol li>.span {
      top: 5px;
    }
  }
  @include media-breakpoint-up(sm) {
    &__thumb {
      margin-bottom: 24px;
    }
    &__content {
      font-size: 20px;
      ul, ol {
        font-size: 22px;
      }
    }
  }
  @include media-breakpoint-up(md) {
    &__wrapper {
      flex-direction: row;
      &>.div1 {
        order: 2;
      }
      &>.div2 {
        order: 1;
        width: 453px;
        flex-shrink: 0;
        padding-top: 26px;
      }
    }
    &__thumb {
      width: 568px;
    }
    &__content {
      font-size: 16px;
      ul, ol {
        font-size: 18px;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    padding-bottom: 20px;
    &__wrapper {
      &>.div2 {
        width: 568px;
        padding-top: 23px;
      }
    }
    &__thumb {
      width: 811px;
    }
    &__content {
      font-size: 20px;
      ul, ol {
        font-size: 22px;
      }
    }
  }
}

.recommendation {
  position: relative;
  min-height: 300px;
  padding-top: 115px;
  padding-bottom: 164px;
  background-color: $color-gray;
  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 164px;
    width: 1920px;
    background: {
      image: url('../images/money-wave-top.png');
      repeat: no-repeat;
      position: center top;
      color: $color-white;
    };
  }
  &::after {
    top: auto;
    bottom: 0;
    background: {
      image: url('../images/money-wave-bottom.png');
    }
  }
  &__wrapper {
    position: relative;
    z-index: 5;
  }
}

ol {
  padding: 0;
  margin-bottom: 40px;
  li {
    list-style: none;
    position: relative;
    padding-left: 60px;
    margin-bottom: 10px;
    &>.span {
      top: 2px;
      position: absolute;
      width: 24px;
      height: 24px;
      text-align: center;
      line-height: 24px;
      border-radius: 50%;
      background: $color-brown;
      color: $color-white;
      font-weight: 700;
      font-size: 14px;
      left: 22px;
    }
  }
}

.tab-pane {
  height: 0;
  overflow: hidden;
  &.active {
    height: auto;
    overflow: inherit;
  }
}