/* modules */
.container {
  padding: 0 15px;
}
.row {
  @include media-breakpoint-up(md) {
    margin-left: -15px;
    margin-right: -15px;
    &>[class*="col-"] {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.top-screen {
  margin-top: -35px;
  &__imgs {
    position: absolute;
    display: none;
    left: 0;
    right: 0;
    &>.container {
      position: relative;
    }
    img {
      display: none;
      position: absolute;
      z-index: 5;
      object-fit: contain;
    }
  }
  &__img {
    margin: 0 0 10px 0;
    height: 310px;
    overflow: hidden;
    position: relative;
    img {
      width: 682px;
      transform: translateX(-460px);
      left: 50%;
      position: absolute;
      object-fit: contain;
      height: 369px;
    }
  }
  &__content {
    font-size: rem(14px);
    color: $color-dark;
    .btn {
      font-size: rem(20px);
    }
  }
  @include media-breakpoint-up(sm) {
    margin-top: -60px;
    &__img {
      height: 580px;
      img {
        width: 1338px;
        height: 697px;
        transform: translateX(-885px);
      }
    }
    &__content {
      .btn {
        min-width: 380px;
        font-size: rem(22px);
      }
    }
  }
  @include media-breakpoint-up(md) {
    margin-top: -55px;
    &__img {
      height: 560px;
      margin-bottom: 0;
      img {
        width: 1288px;
        height: 664px;
        transform: translateX(-660px);
      }
    }
    &__head {
      margin-top: -300px;
      position: relative;
      max-width: 425px;
    }
    &__content {
      max-width: 425px;
      position: relative;
    }
    &__imgs {
      display: block;
      .img1 {
        display: block;
        width: 190px;
        height: 137px;
        top: 125px;
        left: -136px;
      }
      .img4 {
        display: block;
        width: 167px;
        height: 118px;
        top: 0;
        right: -165px;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    margin-top: -84px;
    &__head {
      max-width: 715px;
      margin-top: -442px;
    }
    &__content {
      max-width: 715px;
      font-size: rem(20px);
    }
    &__img {
      height: 785px;
      img {
        width: 1727px;
        height: 925px;
        transform: translateX(-760px);
      }
    }
    &__imgs {
      .img1 {
        width: 148px;
        height: 91px;
        top: 92px;
        left: -324px;
      }
      .img2 {
        display: block;
        width: 253px;
        height: 219px;
        top: 155px;
        left: -210px;
      }
      .img3 {
        display: block;
        width: 208px;
        height: 110px;
        top: 615px;
        left: -317px;
      }
      .img4 {
        width: 237px;
        height: 205px;
        top: -13px;
        right: -300px;
      }
      .img5 {
        display: block;
        width: 201px;
        height: 107px;
        top: 668px;
        right: -315px;
      }
    }
  }
}

.mission {
  padding-top: 100px;
  background: {
    image: url('../images/mission-letter-bg.png');
    position: 67% 40px;
    size: 1445px;
    repeat: no-repeat;
  };
  @include media-breakpoint-up(sm) {
    padding-top: 137px;
    padding-bottom: 100px;
    background: {
      size: 1806px;
      position: 62% 40px;
    }
  }
  @include media-breakpoint-up(md) {
    padding-top: 95px;
    background: {
      size: 1336px;
      position: 44% 40px;
    }
  }
  @include media-breakpoint-up(lg) {
    padding-top: 165px;
    padding-bottom: 150px;
    background: {
      size: 2143px;
      position: center 26px;
    };
  }
}

.money {
  position: relative;
  padding-top: 125px;
  padding-bottom: 189px;
  background-color: $color-gray;
  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 164px;
    width: 1920px;
    background: {
      image: url('../images/money-wave-top.png');
      repeat: no-repeat;
      position: center top;
      color: $color-white;
    };
  }
  &::after {
    top: auto;
    bottom: 0;
    background: {
      image: url('../images/money-wave-bottom.png');
    }
  }
  &>.container {
    position: relative;
    margin-top: -41px;
    margin-bottom: -5px;
  }
  &__block {
    font-weight: 900;
    font-size: rem(18px);
    color: $color-dark;
    margin-bottom: 40px;
    position: relative;
    &-head {
      margin-bottom: 12px;
      line-height: 1;
      .--target & {
        padding-left: 40px;
        font-size: rem(22px);
      }
    }
    &-price {
      color: $color-brown;
      font-size: rem(36px);
      line-height: 1;
      .--target & {
        font-size: rem(40px);
      }
    }
    &.--left {
      margin-bottom: 36px;
    }
    &.--target {
      margin-top: -15px;
      margin-bottom: 0;
      z-index: 10;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    font-size: rem(12px);
    color: rgba($color-dark,.5);
    p {
      margin-bottom: 0;
      max-width: 190px;
    }
    &-percent {
      color: $color-white;
      font-size: rem(110px);
      line-height: 1;
      font-weight: 900;
      position: absolute;
      margin-top: -318px;
      margin-left: 203px;
    }
    &>div {
      &.div2 {
        display: none;
        padding-left: 32px;
      }
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    &>div {
      max-width: 290px;
      width: 100%;
    }
  }
  &__box {
    height: 220px;
    width: 220px;
    position: relative;
    z-index: 5;
    background: #3b3b44;
    border-radius: 100%;
    overflow: hidden; 
    box-shadow: 0px 10px 26px rgba($primary-color,.25), 0 0 0 26px $color-white;
    margin: 26px;
    &-percent {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 3;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center; 
      align-items: center;
      color: rgba($color-white,.1);
      font-size: rem(110px);
      font-weight: 900;
      line-height: 1;
    } 
    .water {
      position: absolute;
      left: 0;
      top: 0;
      z-index:2;
      width: 100%;
      height: 100%;
      transform: translate(0,100%);
      background: rgba(176,140,102,1);
      transition: all .3s;
      &_wave {
        width: 200%;
        position: absolute;
        bottom: 100%;
        &_back {
          right: 0;
          fill: rgba(176,140,102,.8);
          animation: wave-back 2.8s infinite linear;
        }
        &_front {
          left: 0;
          fill: rgba(176,140,102,1);
          margin-bottom: -1px;
          animation: wave-front 1.4s infinite linear;
        }
      }
    }
  }
  @keyframes wave-front {
    100% {
      transform: translate(-50%, 0);
    }
  }
  
  @keyframes wave-back {
    100% {
      transform: translate(50%, 0);
    }
  }
  @include media-breakpoint-only(sm) {
    &>.container {
      margin-top: 0;
      margin-bottom: 0;
    }
    &__wrapper {
      &>div {
        max-width: 580px;
        &.div2 {
          padding-left: 30px;
        }
      }
      &-top {
        display: flex;
      }
    }
    &__block {
      margin-bottom: 0;
      &-head {
        font-size: rem(24px);
        .--target & {
          font-size: rem(30px);
        }
      }
      &-price {
        font-size: rem(46px);
        .--target & {
          font-size: rem(70px);
        }
      }
      &.--left {
        margin-left: 60px;
        margin-bottom: 13px;
      }
      &.--target {
        margin-top: -35px;
        margin-bottom: 50px;
      }
    }
    &__box {
      height: 350px;
      width: 350px;
      margin: 40px;
      box-shadow: 0px 10px 40px rgba($primary-color,.25), 0 0 0 40px $color-white;
      &-percent {
        font-size: rem(170px);
      }
    }
    &__info {
      &-percent {
        font-size: rem(150px);
        margin-top: -388px;
        margin-left: 420px;
      }
    }
  }
  @include media-breakpoint-up(md) {
    &__wrapper {
      flex-direction: row;
      &>div {
        width: auto;
        max-width: inherit;
        &.div1 {
          min-width: 250px;
        }
        &.div2 {
          flex-shrink: 0;
        }
        &.div3 {
          margin-left: -25px;
        }
      }
    }
    &__box {
      height: 250px;
      width: 250px;
      margin: 28px;
      box-shadow: 0px 10px 28px rgba($primary-color,.25), 0 0 0 28px $color-white;
      &-percent {
        font-size: rem(120px);
      }
    }
    &__info {
      margin-bottom: 30px;
      &-percent {
        position: relative;
        margin-top: 0;
        margin-left: 0;
      }
      &>div {
        &.div2 {
          display: block;
        }
      }
    }
    &__block {
      &.--target {
        margin-top: 0;
      }
      &.--left {
        margin-bottom: 0;
      }
    }
    &>.container {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  @include media-breakpoint-up(lg) {
    &__box {
      height: 350px;
      width: 350px;
      margin: 40px;
      box-shadow: 0px 10px 40px rgba($primary-color,.25), 0 0 0 40px $color-white;
      &-percent {
        font-size: rem(180px);
      }
    }
    &__block {
      font-size: rem(24px);
      &-head {
        .--target & {
          font-size: rem(30px);
          padding-left: 55px;
        }
      }
      &-price {
        font-size: rem(46px);
        .--target & {
          font-size: rem(70px);
        }
      }
      &.--start {
        margin-bottom: 70px;
      }
    }
    &__wrapper {
      padding-left: 60px;
      &>div {
        &.div1 {
          min-width: 275px;
        }
        &.div3 {
          margin-left: -35px;
        }
      }
    }
    &__info {
      font-size: rem(14px);
      &-percent {
        font-size: rem(150px);
      }
    }
  }
}

.video {
  margin-top: -55px;
  padding-bottom: 97px;
  position: relative;
  &__content {
    font-size: rem(16px);
  }
  &__div {
    width: 290px;
    margin: 0 auto 50px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background: {
        image: url('../images/video-img-bg.png');
        position: center top;
        repeat: no-repeat;
        size: 395px 209px;
      };
      width: 395px;
      height: 209px;
      bottom: -50px;
      left: 50%;
      transform: translateX(-50%);
    }
    img {
      max-width: 100%;
      height: auto;
      display: block;
      filter: drop-shadow(0px 10px 40px rgba($primary-color,.15));
      position: relative;
      z-index: 5;
    }
    &-link {
      position: absolute;
      z-index: 10;
      width: 90px;
      height: 90px;
      font-size: rem(26px);
      border-radius: 50%;
      background: $color-white;
      left: 0;
      bottom: -34px;
      box-shadow: 0px 4px 20px rgba($primary-color,.1);
      color: $color-brown;
      text-align: center;
      transition: all 0.35s;
      text-decoration: none;
      &::before {
        position: absolute;
        content: '\e905';
        font-family: $font-icomoon;
        left: 50%;
        top: 50%;
        transform: translate(-38%,-50%);
        line-height: 1;
      }
      &:hover {
        box-shadow: 0px 4px 20px rgba($primary-color,.4);
        color: darken($color-brown, 20%);
      }
    }
  }
  @include media-breakpoint-up(sm) {
    padding-bottom: 119px;
    padding-top: 120px;
    background: {
      image: url('../images/video-letter-bg.png');
      position: 28% 40px;
      size: 1543px;
    };
    &__content {
      font-size: rem(18px);
      padding-bottom: 10px;
    }
    &__div {
      width: 549px;
      margin-bottom: 83px;
      &-link {
        font-size: rem(23px);
        width: 80px;
        height: 80px;
        left: -26px;
        bottom: -26px;
      }
      &::before {
        width: 791px;
        height: 419px;
        background-size: 791px 419px;
        bottom: auto;
        top: -30px;
      }
    }
  }
  @include media-breakpoint-up(md) {
    background: {
      size: 1446px;
      position: 49% 90px;
    };
    &__content {
      font-size: rem(16px);
      max-width: 154px;
    }
    &__wrapper {
      display: flex;
      &>div {
        &.div1 {
          padding-top: 25px;
          width: 200px;
          flex-shrink: 0;
          position: relative;
          z-index: 5;
        }
        &.div2 {
          flex-grow: 1;
        }
      }
    }
    &__div {
      width: 620px;
      margin-left: 0;
      &-link {
        width: 90px;
        height: 90px;
        font-size: rem(26px);
        left: -30px;
        bottom: -30px;
      }
      &::before {
        width: 895px;
        height: 474px;
        background-size: 895px 474px;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    padding-bottom: 180px;
    background: {
      size: 2143px;
      position: center 90px;
    };
    &__content {
      font-size: rem(18px);
      max-width: 245px;
    }
    &__wrapper {
      &>div {
        &.div1 {
          width: 277px;
          padding-top: 75px;
        }
      }
    }
    &__div {
      width: 831px;
      &-link {
        width: 120px;
        height: 120px;
        font-size: rem(34px);
        left: -40px;
        bottom: -40px;
      }
      &::before {
        width: 1197px;
        height: 634px;
        background-size: 1197px 634px;
        top: -40px;
        margin-left: -10px;
      }
    }
  }
}

.beneficiaries {
  padding-bottom: 10px;
  &__row {
    display: flex;
    flex-direction: column;
  }
  &__block {
    font-size: rem(14px);
    color: $color-dark;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    &-thumb {
      position: relative;
      margin-bottom: 30px;
      padding-top: 35px;
      &::before {
        content: '';
        position: absolute;
        background: url('../images/beneficiaries-img-bg.png') 0 0 no-repeat;
        height: 248px;
        width: 131px;
        background-size: 131px 248px;
        top: 0;
        right: -31px;
      }
      img {
        position: relative;
        z-index: 5;
        filter: drop-shadow(0px 6px 30px rgba($primary-color,.3));
        max-width: 100%;
        height: auto;
        display: block;
      }
    }
    p {
      max-width: 80%;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  @include media-breakpoint-up(sm) {
    padding-bottom: 70px;
    &__row {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      &>div {
        width: auto;
      }
    }
    &__block {
      text-align: left;
      align-items: flex-start;
      margin-bottom: 20px;
      p {
        max-width: 238px;
        margin-right: -38px;
      }
    }
  }
  @include media-breakpoint-up(md) {
    padding-bottom: 70px;
    &__row {
      flex-wrap: nowrap;
    }
    &__block {
      margin-bottom: 0;
      &-thumb {
        img {
          height: 274px;
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &__block {
      &-thumb {
        margin-bottom: 30px;
        &::before {
          width: 185px;
          height: 350px;
          background-size: 185px 350px;
          right: -45px;
        }
        img {
          height: 345px;
        }
      }
    }
  }
}

.geography {
  position: relative;
  padding-top: 125px;
  padding-bottom: 189px;
  background-color: $color-gray;
  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 164px;
    width: 1920px;
    background: {
      image: url('../images/money-wave-top.png');
      repeat: no-repeat;
      position: center top;
      color: $color-white;
    };
  }
  &::after {
    top: auto;
    bottom: 0;
    background: {
      image: url('../images/money-wave-bottom.png');
    }
  }
  &>.container {
    position: relative;
  }
  &__content {
    font-size: rem(16px);
  }
  &__description {
    font-size: rem(20px);
  }
  &__carousel {
    .slick-track {
      display: flex;
      align-items: stretch;
      justify-content: center;
    }
    .slick-slide {
      height: auto;
      // background: pink;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 82px;
    }
    .slick-arrow {
      top: auto;
      bottom: 0;
      transform: none;
      right: 50%;
      transform: translateX(90%);
      width: auto;
      height: auto;
      display: flex;
      align-items: center;
      height: 16px;
      z-index: 5;
      &::before {
        opacity: 1;
        font-family: $font-icomoon;
        font-size: rem(72px);
        content: "\e902";
        color: $color-brown;
      }
      &.slick-prev {
        right: auto;
        left: 50%;
        transform: translateX(-180%);
        &::before {
          font-size: rem(35px);
          content: "\e901";
          color: $color-dark;
        }
      }
      
    }
  }
  &__block {
    // background: green;
    position: relative;
    &-text {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-10%);
      color: $color-white;
      font-size: rem(13px);
      font-weight: 900;
      width: 100%;
      max-width: 90%;
      text-align: center;
    }
  }
  &__city {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -60px;
    font-size: rem(16px);
    font-weight: 800;
    letter-spacing: 0.1em;
  }
  @include media-breakpoint-up(sm) {
    &__block {
      &-text {
        font-size: rem(26px);
      }
    }
    &__city {
      bottom: -53px;
    }
    &__carousel {
      .slick-slide {
        margin-bottom: 50px;
      }
      .slick-arrow {
        bottom: 1px;
        &.slick-prev {
          transform: none;
          left: 0;
        }
        &.slick-next {
          right: 0;
          transform: none;
        }
      }
    }
  }
  @include media-breakpoint-up(md) {
    padding-top: 140px;
    &__wrapper {
      display: flex;
      align-items: center;
      &>div {
        &.div2 {
          width: 424px;
          flex-shrink: 0;
          margin-left: 30px;
        }
      }
    }
    &__content {
      font-size: rem(14px);
    }
    &__description {
      font-size: rem(16px);
    }
    &__carousel {
      .slick-arrow {
        &::before {
          transition: all 0.35s;
        }
        &.slick-prev {
          &:hover {
            &::before {
              color: $color-brown;
            }
          }
        }
        &.slick-next {
          &:hover {
            &::before {
              color: $color-dark;
            }
          }
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    padding-top: 184px;
    padding-bottom: 210px;
    &__wrapper {
      &>div {
        &.div2 {
          width: 640px;
        }
      }
    }
    &__content {
      font-size: rem(16px);
    }
    &__description {
      font-size: rem(20px);
    }
    &__carousel {
      .slick-arrow {
        &.slick-prev {
          left: 97px;
        }
        &.slick-next {
          right: 55px;
        }
      }
    }
  }
}

.results {
  padding-bottom: 118px;
  position: relative;
  &::before {
    content: '\e916';
    position: absolute;
    font-size: rem(418px);
    line-height: 1;
    left: 37%;
    top: 157px;
    font-family: $font-icomoon;
    opacity: 0.5;
    color: $color-gray;
  }
  &>.container {
    position: relative;
    z-index: 5;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__block {
    font-size: rem(14px);
    margin-bottom: 30px;
    &-head {
      color: $color-brown;
      font-size: rem(70px);
      font-weight: 900;
      line-height: 1;
      margin-bottom: 5px;
      white-space: nowrap;
    }
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
    &.--last {
      font-size: rem(16px);
    }
  }
  @include media-breakpoint-up(sm) {
    &__block {
      font-size: rem(16px);
      margin-bottom: 34px;
      &-head {
        font-size: 90px;
      }
      &.--last {
        font-size: rem(18px);
      }
    }
  }
  @include media-breakpoint-up(md) {
    padding-top: 50px;
    background: {
      image: url('../images/result-letter-bg.png');
      position: 111% -10px;
      size: 553px 433px;
      repeat: no-repeat;
    };
    &::before {
      font-size: rem(334px);
      top: 70px;
      left: 67%;
    }
    &__block {
      font-size: rem(14px);
      margin-bottom: 46px;
      &-head {
        font-size: rem(70px);
      }
      &.--last {
        font-size: rem(16px);
      }
    }
    &__wrapper {
      flex-direction: row;
      flex-wrap: wrap;
      &>div {
        flex-basis: 210px;
        padding-left: 30px;
        &.div1 {
          padding-left: 0;
        }
        &.div4 {
          padding-left: 0;
          flex-basis: 100%;
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    padding-top: 72px;
    background: {
      size: 755px 591px;
    };
    &::before {
      top: 45px;
      left: 63%;
    }
    &__block {
      font-size: rem(16px);
      margin-bottom: 40px;
      &.--last {
        font-size: rem(18px);
      }
    }
    &__wrapper {
      &>div {
        flex-basis: 28%;
        &.div4 {
          flex-basis: 100%;
        }
      }
    }
  }
}

.number {
  padding-bottom: 50px;
  &>.container {
    position: relative;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__thumb {
    margin-bottom: 18px;
    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  }
  &__content {
    font-size: rem(14px);
    ul, ol {
      font-size: rem(18px);
    }
    .btn {
      width: 100%;
      max-width: 330px;
    }
    ol li>.span {
      top: 5px;
    }
  }
  @include media-breakpoint-up(sm) {
    &__thumb {
      margin-bottom: 24px;
    }
    &__content {
      font-size: rem(20px);
      ul, ol {
        font-size: rem(22px);
      }
    }
  }
  @include media-breakpoint-up(md) {
    &__wrapper {
      flex-direction: row;
      &>.div1 {
        order: 2;
      }
      &>.div2 {
        order: 1;
        width: 453px;
        flex-shrink: 0;
        padding-top: 26px;
      }
    }
    &__thumb {
      width: 568px;
    }
    &__content {
      font-size: rem(16px);
      ul, ol {
        font-size: rem(18px);
      }
    }
  }
  @include media-breakpoint-up(lg) {
    padding-bottom: 20px;
    &__wrapper {
      &>.div2 {
        width: 568px;
        padding-top: 23px;
      }
    }
    &__thumb {
      width: 811px;
    }
    &__content {
      font-size: rem(20px);
      ul, ol {
        font-size: rem(22px);
      }
    }
  }
}

.recommendation {
  $this: &;
  position: relative;
  min-height: 300px;
  padding-top: 115px;
  padding-bottom: 164px;
  background-color: $color-gray;
  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 164px;
    width: 1920px;
    background: {
      image: url('../images/recommendation-wave-top.png');
      repeat: no-repeat;
      position: center top;
      color: $color-white;
    };
  }
  &::after {
    top: auto;
    bottom: 0;
    background: {
      image: url('../images/recommendation-wave-bottom.png');
    }
  }
  &__wrapper {
    position: relative;
    z-index: 5;
  }
  &__content {
    margin-bottom: 35px;
    font-size: rem(14px);
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__list {
    margin: 0;
    padding: 0;
    &-item {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }
  &__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: rem(12px);
    margin-bottom: 20px;
    color: $color-dark;
    &-thumb {
      flex-shrink: 0;
      width: 93px;
      margin-right: 30px;
      display: block;
      opacity: 1;
      transition: all 0.35s;
      img {
        max-width: 100%;
        display: block;
      }
    }
    &-name {
      font-size: rem(18px);
      font-weight: 800;
      display: block;
    }
    &.active {
      color: rgba($color-dark,.5);
      #{$this} {
        &__link {
          &-name {
            color: $color-brown;
          }
          &-thumb {
            opacity: 0.7;
          }
        }
      }
    }
  }
  &__persona {
    margin-top: -10px;
    &-content {
      margin-top: -28px;
      background: $color-white;
      font-size: rem(14px);
      font-style: italic;
      padding: 35px 35px 44px 44px;
      position: relative;
      z-index: 5;
      overflow: hidden;
      &::before {
        content: "\e906";
        font-family: $font-icomoon;
        position: absolute;
        left: 15px;
        top: -1px;
        font-size: 96px;
        line-height: 1;
        font-style: normal;
        color: $color-gray;
        z-index: -1;
      }
      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &-name {
      font-size: rem(18px);
      font-weight: 800;
      margin-bottom: 5px;
    }
    &-description {
      font-size: rem(12px);
    }
    &-top {
      &>div {
        &.div2 {
          display: none;
          padding-bottom: 45px;
        }
      }
    }
    &-bottom {
      .btn {
        height: 50px;
        line-height: 50px;
        font-size: rem(16px);
        letter-spacing: 0.05em;
        width: 235px;
        min-width: inherit;
        display: block;
        margin-top: -24px;
        margin-left: 28px;
        position: relative;
        z-index: 6;
      }
    }
    &-thumb {
      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
  @include media-breakpoint-up(sm) {
    &__content {
      max-width: 464px;
      font-size: rem(18px);
    }
    &__persona {
      &-content {
        margin-top: -42px;
        &::before {
          font-size: rem(130px);
          left: 20px;
        }
        font-size: rem(16px);
      }
      &-thumb {
        img {
          width: 398px;
          height: auto;
        }
      }
    }
  }
  @include media-breakpoint-up(md) {
    &__wrapper {
      display: flex;
      &>div {
        &.div1 {
          width: 423px;
          flex-shrink: 0;
          padding-top: 28px;
        }
        &.div2 {
          flex-grow: 1;
        }
      }
    }
    &__content {
      font-size: rem(14px);
      margin-bottom: 38px;
      max-width: 325px;
    }
    &__persona {
      &-content {
        margin-top: -36px;
        &::before {
          font-size: 96px;
          left: 14px;
        }
        font-size: rem(14px);
      }
      &-thumb {
        img {
          width: 301px;
          height: auto;
        }
      }
      &-bottom {
        .btn {
          margin-left: 36px;
        }
      }
      &-top {
        display: flex;
        align-items: center;
        &>div {
          &.div2 {
            display: block;
          }
        }
      }
      &-thumb {
        margin-left: -80px;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    padding-top: 190px;
    &__content {
      font-size: rem(18px);
    }
    &__wrapper {
      &>div {
        &.div1 {
          width: 587px;
          padding-top: 35px;
        }
      }
    }
    &__persona {
      &-thumb {
        margin-left: -115px;
        img {
          width: 398px;
        }
      }
      &-content {
        margin-top: -42px;
        &::before {
          font-size: rem(130px);
          left: 20px;
        }
        font-size: rem(16px);
      }
      &-bottom {
        .btn {
          margin-left: 42px;
        }
      }
      &-description {
        font-size: rem(14px);
      }
    }
  }
}

ol {
  padding: 0;
  margin-bottom: 40px;
  li {
    list-style: none;
    position: relative;
    padding-left: 60px;
    margin-bottom: 10px;
    &>.span {
      top: 2px;
      position: absolute;
      width: 24px;
      height: 24px;
      text-align: center;
      line-height: 24px;
      border-radius: 50%;
      background: $color-brown;
      color: $color-white;
      font-weight: 700;
      font-size: rem(14px);
      left: 22px;
    }
  }
}

.tab-pane {
  height: 0;
  overflow: hidden;
  &.active {
    height: auto;
    overflow: inherit;
  }
}

.direction {
  position: relative;
  padding-top: 125px;
  padding-bottom: 189px;
  background-color: $color-gray;
  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 164px;
    width: 1920px;
    background: {
      image: url('../images/money-wave-top.png');
      repeat: no-repeat;
      position: center top;
      color: $color-white;
    };
  }
  &::after {
    top: auto;
    bottom: 0;
    background: {
      image: url('../images/money-wave-bottom.png');
    }
  }
  &>.container {
    position: relative;
    margin-top: -41px;
    margin-bottom: -5px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    &>div {
      width: 290px;
      &.div3 {
        margin-top: 22px;
      }
    }
  }
  &__block {
    font-size: rem(12px);
    margin-bottom: 8px;
    &-thumb {
      position: relative;
      margin-bottom: 24px;
      padding-top: 48px;
      width: 184px;
      margin-right: 47px;
      &::before {
        content: '';
        position: absolute;
        background: url('../images/direction-img-bg.png') 0 0 no-repeat;
        height: 318px;
        width: 194px;
        background-size: 194px 318px;
        top: 0;
        right: -47px;
      }
      img {
        position: relative;
        z-index: 5;
        filter: drop-shadow(0px 6px 30px rgba($primary-color,.3));
        height: auto;
        display: block;
        object-fit: cover;
      }
    }
    &-title {
      font-size: rem(18px);
      font-weight: 800;
      letter-spacing: 0.1em;
    }
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__content {
    font-size: rem(14px);
    font-style: italic;
    padding: 25px 0 0 62px;
    position: relative;
    z-index: 5;
    overflow: hidden;
    font-weight: 500;
    &::before {
      content: "\e906";
      font-family: $font-icomoon;
      position: absolute;
      left: 15px;
      top: -1px;
      font-size: 96px;
      line-height: 1;
      font-style: normal;
      color: $color-white;
      z-index: -1;
    }
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  @include media-breakpoint-up(sm) {
    padding-bottom: 170px;
    &__wrapper {
      flex-direction: row;
      flex-wrap: wrap;
      &>div {
        width: 50%;
        &.div3 {
          width: 100%;
        }
      }
    }
    &__block {
      &-thumb {
        padding-top: 56px;
        width: 216px;
        &::before {
          height: 374px;
          width: 229px;
          background-size: 229px 374px;
          right: -56px;
          top: 0;
        }
        img {
          width: 216px;
          height: 279px;
        }
      }
    }
    &__content {
      font-size: rem(16px);
      padding-right: 57px;
    }
  }
  @include media-breakpoint-up(md) {
    padding-bottom: 170px;
    &__wrapper {
      flex-wrap: nowrap;
      &>div {
        width: 50%;
        &.div3 {
          width: 300px;
          flex-shrink: 0;
        }
      }
    }
    &__block {
      &-thumb {
        padding-top: 47px;
        width: 184px;
        &::before {
          height: 310px;
          width: 183px;
          background-size: 183px 310px;
          right: -47px;
          top: 0;
        }
        img {
          width: 184px;
          height: 237px;
        }
      }
    }
    &__content {
      margin-left: -80px;
      font-size: rem(14px);
      padding-right: 0px;
    }
  }
  @include media-breakpoint-up(lg) {
    padding-top: 123px;
    padding-bottom: 210px;
    &__wrapper {
      &>div {
        width: 50%;
        &.div3 {
          width: 460px;
        }
      }
    }
    &__block {
      &-thumb {
        padding-top: 56px;
        width: 216px;
        &::before {
          height: 374px;
          width: 229px;
          background-size: 229px 374px;
          right: -56px;
        }
        img {
          width: 216px;
          height: 279px;
        }
      }
    }
    &__content {
      margin-left: -60px;
      font-size: rem(16px);
    }
  }
}

.form {
  padding-top: 90px;
  padding-bottom: 10px;
  &__donate {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 37px;
    &>.field-text {
      margin-bottom: 0;
      &:last-child {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }
  }
  &__info {
    font-size: rem(12px);
    margin-bottom: 30px;
    &.--fs14 {
      font-size: rem(14px);
    }
    a {
      text-decoration: none;
      color: $color-dark;
      font-size: rem(18px);
      display: inline-block;
      &:hover {
        color: $color-brown;
      }
    }
  }
  &__type {
    margin-bottom: 18px;
    background: $color-gray;
    padding: 19px;
    .label-donate {
      letter-spacing: 0.1em;
      input {
        &+span {
          background: $color-dark;
          color: $color-white;
          border-color: $color-dark !important;
          transition: all 0.35s;
          &:hover {
            background: $color-brown;
          }
        }
        &:checked {
          &+span {
            background: $color-brown;
            color: $color-white;
            border-color: $color-brown !important;
          }
        }
      }
      &+.label-donate {
        margin-top: 15px;
      }
    }
  }
  &__row {
    display: flex;
    flex-direction: column;
    &.--last {
      &>div {
        &.div1 {
          display: none;
        }
      }
    }
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    &>div {
      &.div1 {
        width: 100%;
      }
      &.div3 {
        padding-top: 20px;
        text-align: center;
      }
    }
  }
  @include media-breakpoint-up(sm) {
    padding-top: 110px;
    padding-bottom: 50px;
    &__type {
      display: flex;
      .label-donate {
        width: 50%;
        &+.label-donate {
          margin: 0 0 0 15px;
        }
      }
    }
    &__donate {
      grid-template-columns: repeat(5,1fr);
      &.form__donate>.field-text:last-child {
        grid-column-start: 4;
        grid-column-end: 6;
      }
    }
    &__fields {
      display: flex;
      padding-bottom: 15px;
      &>div {
        width: 33.3%;
        &+div {
          margin-left: 15px;
        }
      }
    }
  }
  @include media-breakpoint-up(md) {
    background: {
      image: url('../images/form-letter-bg.png');
      position: center 40px;
      size: 1330px;
      repeat: no-repeat;
    };
    &__row {
      flex-direction: row;
      &>div {
        &.div1 {
          padding-top: 14px;
          width: 270px;
          flex-shrink: 0;
          text-align: right;
          padding-right: 30px;
        }
        &.div2 {
          flex-grow: 1;
        }
      }
      &.--first {
        &>div {
          &.div1 {
            padding-top: 33px;
          }
        }
      }
      &.--last {
        &>div {
          &.div1 {
            display: block;
          }
        }
      }
    }
    &__bottom {
      align-items: center;
      flex-direction: row;
      &>div {
        &.div1 {
          display: block;
          width: auto;
          order: 1;
          flex-grow: 1;
          .field-checkbox {
            margin-bottom: 0;
          }
        }
        &.div2 {
          width: auto;
          flex-shrink: 0;
          order: 3;
          .btn {
            width: 268px;
            min-width: inherit;
          }
        }
        &.div3 {
          flex-shrink: 0;
          order: 2;
          padding-right: 20px;
          padding-top: 0;
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    padding-top: 140px;
    padding-bottom: 105px;
    background: {
      position: center 40px;
      size: 2200px;
    };
    &__type {
      max-width: 630px;
    }
    &__info {
      max-width: 630px;
      &.--fs14 {
        font-size: rem(16px);
        max-width: inherit;
        margin-bottom: 20px;
      }
    }
    &__row {
      &>div {
        &.div1 {
          padding-top: 14px;
          width: 370px;
        }
      }
    }
    &__bottom {
      &>div {
        &.div2 {
          .btn {
            width: 280px;
          }
        }
        &.div3 {
          padding-right: 40px;
        }
      }
    }
  }
}

.family {
  &__wrapper {
    .btn {
      height: 50px;
      line-height: 50px;
      width: 215px;
      min-width: auto;
      display: block;
      margin: 0 auto;
      font-size: rem(16px);
    }
    &>div {
      &.div2 {
        position: relative;
      }
    }
  }
  &__about {
    font-weight: 500;
    font-size: rem(12px);
    margin-bottom: 20px;
    &-thumb {
      position: relative;
      max-width: 584px;
      img {
        max-width: 100%;
        display: block;
        height: auto;
      }
      &::before {
        position: absolute;
        content: '';
        left: -11px;
        bottom: -26px;
        height: 164px;
        right: 0;
        background: {
          image: url('../images/family-wave-img.png');
          repeat: no-repeat;
          position: 0 0;
        };
      }
    }
    &-title {
      position: relative;
      font-size: rem(16px);
      font-weight: 800;
      letter-spacing: 0.1em;
      margin-top: -25px;
    }
    p {
      position: relative;
    }
  }
  &__title {
    font-size: rem(18px);
    font-weight: 700;
    margin-bottom: 35px;
  }
  &__content {
    font-size: rem(14px);
    margin-bottom: 35px;
  }
  &__history {
    margin-bottom: 34px;
    &-title {
      font-size: rem(16px);
      font-weight: 800;
      letter-spacing: 0.1em;
      margin-bottom: 10px;
    }
    &-number {
      display: flex;
      align-items: center;
      &>div {
        &.div1 {
          font-size: rem(80px);
          font-weight: 800;
          line-height: 1;
          vertical-align: middle;
          color: $color-gray;
          flex-shrink: 0;
        }
        &.div2 {
          padding-left: 20px;
          flex-grow: 1;
          font-size: rem(12px);
          color: rgba($color-dark,0.3);
          max-width: 246px;
        }
      }
    }
  }
  &__btns {
    display: flex;
    justify-content: space-between;
    &-prev, &-next {
      text-decoration: none;
      top: auto;
      bottom: 0;
      transform: none;
      right: 0;
      width: auto;
      height: auto;
      display: flex;
      align-items: center;
      height: 16px;
      z-index: 5;
      &::before {
        opacity: 1;
        font-family: $font-icomoon;
        font-size: rem(72px);
        content: "\e902";
        color: $color-brown;
      }
    }
    &-prev {
      right: auto;
      &::before {
        font-size: rem(35px);
        content: "\e901";
        color: $color-dark;
      }
    }
  }
  @include media-breakpoint-up(sm) {
    &__title {
      font-size: rem(20px);
    }
    &__content {
      font-size: rem(16px);
      margin-bottom: 25px;
    }
    &__btns {
      margin-top: -30px;
    }
    &__history {
      margin-bottom: 45px;
      &-title {
        padding-left: 90px;
        padding-right: 150px;
        margin-top: -22px;
      }
      &-number {
        padding-left: 35px;
        align-items: flex-start;
        &>div {
          &.div2 {
            padding-top: 15px;
            max-width: 270px;
          }
        }
      }
    }
    &__about {
      margin-bottom: 0;
      &-title {
        padding-right: 235px;
        margin-top: 0;
      }
      p {
        padding-right: 235px;
        margin-bottom: 0;
      }
    }
    &__wrapper {
      .btn {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }
  @include media-breakpoint-up(md) {
    &__wrapper {
      flex-direction: row;
      display: flex;
      &>div {
        &.div2 {
          width: 425px;
          flex-shrink: 0;
          margin-left: 30px;
        }
        &.div1 {
          flex-grow: 1;
        }
      }
    }
    &__title {
      font-size: rem(19px);
    }
    &__content {
      font-size: rem(14px);
    }
    &__history {
      &-title {
        padding-left: 70px;
        padding-right: 100px;
      }
    }
    &__about {
      &-title {
        padding-right: 0;
        margin-top: -25px;
      }
      p {
        padding-right: 0;
        margin-bottom: 20px;
      }
    }
    .btn {
      position: relative;
      margin-left: 0;
    }
    &__btns {
      &-prev {
        &::before {
          transition: all 0.35s;
        }
        &:hover {
          &::before {
            color: $color-brown;
          }
        }
      }
      &-next {
        &::before {
          transition: all 0.35s;
        }
        &:hover {
          &::before {
            color: $color-dark;
          }
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    padding-top: 95px;
    &__wrapper {
      &>div {
        &.div2 {
          width: 584px;
        }
      }
    }
    &__title {
      font-size: rem(20px);
    }
    &__content {
      font-size: rem(16px);
    }
    &__history {
      &-title {
        padding-left: 70px;
        padding-right: 100px;
        text-align: center;
        max-width: 460px;
      }
    }
    &__btns {
      max-width: 460px;
    }
    &__about {
      &-title {
        padding-right: 235px;
        margin-top: 0px;
      }
      p {
        padding-right: 235px;
        margin-bottom: 0;
      }
    }
    .btn {
      position: absolute;
    }
  }
}

.help {
  padding-top: 123px;
  text-align: center;
  background: {
    image: url('../images/help-letter-bg.png');
    position: 0 40px;
    size: 1072px ;
    repeat: no-repeat;
  };
  &__title {
    font-size: rem(40px);
    color: $color-brown;
    margin-bottom: 5px;
    font-weight: 700;
    line-height: 1.3;
  }
  &__content {
    font-size: rem(16px);
    font-weight: 700;
    margin-bottom: 50px;
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 40px;
    a {
      text-decoration: none;
      font-size: rem(54px);
      color: $color-dark;
      display: inline-block;
      font-weight: 500;
      .span {
        font-size: rem(12px);
        display: block;
      }
      :before {
        line-height: 1;
        vertical-align: middle;
      }
      .icon-facebook {
        font-size: rem(52px);
      }
      .icon-vk {
        font-size: rem(64px);
      }
    }
    &>div {
      width: 50%;
    }
  }
  &__number {
    display: flex;
    flex-direction: column;
    align-items: center;
    &>div {
      &.div1 {
        font-size: rem(80px);
        font-weight: 800;
        line-height: 1;
        vertical-align: middle;
        color: $color-gray;
        flex-shrink: 0;
      }
      &.div2 {
        padding-left: 0px;
        padding-top: 10px;
        flex-grow: 1;
        font-size: rem(12px);
        color: rgba($color-dark,0.3);
        max-width: 246px;
      }
    }
  }
  @include media-breakpoint-up(sm) {
    padding-top: 134px;
    background: {
      size: 1280px;
      position: center top;
    };
    &__social {
      flex-wrap: nowrap;
      flex-direction: row;
      &>div {
        width: auto;
      }
    }
    &__number {
      flex-direction: row;
      text-align: left;
      justify-content: center;
      &>div {
        &.div2 {
          max-width: 275px;
          padding-top: 0;
          padding-left: 30px;
        }
      }
    }
  }
  @include media-breakpoint-up(md) {
    background: {
      size: 1618px;
    };
    &__title {
      text-align: left;
      font-size: rem(50px);
    }
    &__content {
      text-align: left;
    }
    &__wrapper {
      flex-direction: row;
      display: flex;
      align-items: center;
      &>div {
        width: 50%;
      }
    }
    &__social {
      justify-content: flex-start;
      margin-bottom: 0;
      div {
        &+div {
          padding-left: 35px;
        }
      }
      a {
        i {
          opacity: 1;
          transition: all 0.35s;
        }
        &:hover {
          i {
            opacity: 0.5;
          }
        }
      }
    }
    &__number {
      &>div {
        &.div2 {
          max-width: 210px;
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    padding-top: 210px;
    background: {
      size: 2200px;
    };
    &__number {
      &>div {
        &.div2 {
          max-width: 270px;
        }
      }
    }
    &__social div+div {
      padding-left: 60px;
    }
  }
}

video[poster]{
  height: 100%;
  width: 100%;
  object-fit: cover;
}