/* menu */
[role="navigation"] {
  ul {
    margin: 0;
    padding: 0;
    
    li {
      list-style: none;
        margin: 0;
    }
  }
}
  
.btn-mobile {
  padding: 0;
  background: none;
  display: flex;
  font-weight: 400;
  font-size: rem(16px);
  align-items: center;
  color: $color-dark;
  text-transform: uppercase;
  margin: 0 0 0 auto;
  &::before {
    font-family: $font-icomoon;
    content: '\e904';
    font-size: rem(15px);
    margin-right: 9px;
  }
  span {
    font-weight: 800;
  }
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.navigation {
  &__social, &__lang, &__button {
    display: none;
  }
  .ul {
    font-size: rem(14px);
    font-weight: 800;
    margin: 0 0 10px 0;
    list-style: none;
    text-transform: uppercase;
    li {
      padding: 0;
      &>a, &>span {
        display: block;
        color: $color-dark;
        text-decoration: none;
        height: 50px;
        line-height: 50px;
        padding: 0 10px 0 30px;
      }
      &.active {
        &>a, &>span {
          color: $color-brown;
        }
      }
    }
  }
  .is-scroll & {
    top: 80px;
  }
  @include media-breakpoint-down(sm) {
    position: fixed;
    top: 90px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 150;
    overflow: auto;
    text-align: center;
    -webkit-transition: all .35s;
    transition: all .35s;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    &.is-active {
      visibility: visible;
      opacity: 1;
    }
    &__wrapper {
      position: absolute;
      background: rgba($color-white,.95);
      left: 30px;
      top: 0;
      bottom: 0;
      overflow-y: auto;
      width: calc(100% - 30px);
      box-shadow: 0px 10px 30px rgba($primary-color,.1);
    }
    &__button {
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      background: $color-brown;
      color: $color-white;
      text-align: center;
      line-height: 30px;
      font-size: rem(13px);
      &::before {
        content: '\e903';
        font-family: $font-icomoon;
        line-height: 1;
      }
    }
    &__button {
      display: block;
    }
    &__wrapper {
      padding: 13px 0 18px 0;
    }
    &__social {
      padding: 0 10px 0 30px;
      margin-top: 113px;
      font-size: rem(29px);
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
        line-height: 1;
        &+a {
          margin-left: 20px;
        }
      }
      .icon-facebook {
        font-size: rem(28px);
      }
      .icon-vk {
        font-size: rem(34px);
      }
    }
    &__lang {
      display: flex;
      position: relative;
      padding-left: 30px !important;
      height: 80px;
      align-items: center;
      font-weight: 600;
      font-size: rem(16px);
      &::before, &::after {
        top: 0;
        left: 30px;
        right: 0;
        content: '';
        position: absolute;
        height: 1px;
        background: rgba($primary-color,.1);
      }
      &::after {
        top: auto;
        bottom: 0;
      }
      li {
        &>a, &>span {
          color: rgba($color-dark,.5);
          text-decoration: none;
        }
        &.active {
          &>a, &>span {
            font-weight: 800;
            color: $color-brown;
          }
        }
        &+li {
          margin-left: 35px;
        }
      }
    }
  }
  @include media-breakpoint-up(md) {
    &__wrapper {
      .ul {
        display: flex;
        margin: 0;
        justify-content: center;
        li {
          &>a, &>span {
            height: auto;
            line-height: inherit;
            padding: 0;
          }
          &+li {
            margin-left: 40px;
          }
          a {
            &:hover {
              color: $color-brown;
            }
          }
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &__wrapper {
      .ul {
        li {
          &+li {
            margin-left: 60px;
          }
        }
      }
    }
    .ul {
      font-size: rem(16px);
    }
  }
}